{
  "http_interactions": [
    {
      "recorded_at": "2018-09-01T17:54:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://ocd.datamade.us/bills/?sponsorships__person_id=ocd-person%2Ff649753d-081d-4f22-8dcf-3af71de0e6ca&actions__date__lte=2018-08-15&actions__date__gte=2018-01-01&actions__description=Referred"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"results\": [{\"from_organization\": {\"jurisdiction\": {\"name\": \"Chicago City Government\", \"id\": \"ocd-jurisdiction/country:us/state:il/place:chicago/government\"}, \"name\": \"Chicago City Council\", \"id\": \"ocd-organization/ef168607-9135-4177-ad8e-c1f7a4806c3a\"}, \"title\": \"Appointment of Jacqueline C. Edens as member of Chicago Low-Income Housing Trust Fund Board \", \"subject\": [\"APPOINTMENTS\"], \"id\": \"ocd-bill/4b0f85cf-4663-4831-9d0a-2a38c591ab79\", \"updated_at\": \"2018-08-02T11:07:24.597425+00:00\", \"classification\": [\"appointment\"], \"identifier\": \"A2018-83\"}, {\"from_organization\": {\"jurisdiction\": {\"name\": \"Chicago City Government\", \"id\": \"ocd-jurisdiction/country:us/state:il/place:chicago/government\"}, \"name\": \"Chicago City Council\", \"id\": \"ocd-organization/ef168607-9135-4177-ad8e-c1f7a4806c3a\"}, \"title\": \"Reappointment of Zaid Abdul-Aleem and Daisy S. Lezama as members of Board of Ethics\", \"subject\": [\"APPOINTMENTS\"], \"id\": \"ocd-bill/c6b9671d-5365-4a96-ba8f-49e448da46f6\", \"updated_at\": \"2018-08-07T[...]
    {
      "recorded_at": "2018-09-01T17:54:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://ocd.datamade.us/bills/?sponsorships__person_id=ocd-person%2Ff649753d-081d-4f22-8dcf-3af71de0e6ca&actions__date__lte=2018-08-15&actions__date__gte=2018-01-01&actions__description=Referred&page=2"
      },
      "response": {
        "body": {
          "encoding": "ut[...]
[...]
