{
  "http_interactions": [
    {
      "recorded_at": "2018-09-13T20:19:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://ocd.datamade.us/bills/?sponsorships__person_id=ocd-person%2Ff649753d-081d-4f22-8dcf-3af71de0e6ca&actions__date__lte=2018-08-15&actions__date__gte=2018-07-16&actions__description=Referred"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"results\": [{\"from_organization\": {\"jurisdiction\": {\"name\": \"Chicago City Government\", \"id\": \"ocd-jurisdiction/country:us/state:il/place:chicago/government\"}, \"name\": \"Chicago City Council\", \"id\": \"ocd-organization/ef168607-9135-4177-ad8e-c1f7a4806c3a\"}, \"title\": \"Fifty-fifth amending agreement with SomerCor 504, Inc. regarding Small Business Improvement Fund program increases within Jefferson Park, Lawrence/Pulaski and Lincoln Avenue areas \", \"subject\": [\"Improvement\"], \"id\": \"ocd-bill/fdff8130-549a-45ed-9517-01419fdbeb54\", \"updated_at\": \"2018-08-02T12:51:34.177243+00:00\", \"classification\": [\"ordinance\"], \"identifier\": \"O2018-6138\"}, {\"from_organization\": {\"jurisdiction\": {\"name\": \"Chicago City Government\", \"id\": \"ocd-jurisdiction/country:us/state:il/place:chicago/government\"}, \"name\": \"Chicago City Council\", \"id\": \"ocd-organization/ef168607-9135-4177-ad8e-c1f7a4806c3a\"}, \"title\": \"Expenditure of Open Space Impact Fee funds for new park at 658 E 95th St\", \"subject\": [\"Open Space Impact Fees\", \"Intergovernmental\"], \"id\": \"ocd-bill/639850f9-ce5b-42c8-a779-a8ec666b26ac\", \"upd[...]
    {
      "recorded_at": "2018-09-13T20:19:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://ocd.datamade.us/ocd-bill/fdff8130-549a-45ed-9517-01419fdbeb54"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "Location": [
            "/ocd-bill/fdff8130-549a-45ed-9517-01419fdbeb54/"
          ]
        },
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "url": "https://ocd.datamade.us/ocd-bill/fdff8130-549a-45ed-9517-01419fdbeb54"
      }
    },
    {
      "recorded_at": "2018-09-13T20:19:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://ocd.datamade.us/ocd-bill/fdff8130-549a-45ed-9517-01419fdbeb54/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"sources\": [{\"note\": \"api\", \"url\": \"http://webapi.legistar.com/v1/chicago/matters/116132\"}, {\"note\": \"web\", \"url\": \"https://chicago.legistar.com/LegislationDetail.aspx?ID=3584161&GUID=6C092637-1477-42B6-99CD-236B3F7F884E\"}], \"from_organization\": {\"name\": \"Chicago City Council\", \"id\": \"ocd-organization/ef168607-9135-4177-ad8e-c1f7a4806c3a\"}, \"debug\": null, \"sponsorships\": [{\"entity_id\": \"ocd-person/f649753d-081d-4f22-8dcf-3af71de0e6ca\", \"entity_type\": \"person\", \"classification\": \"Primary\", \"primary\": true, \"entity_name\": \"Emanuel, Rahm\"}], \"versions\": [{\"links\": [{\"media_type\": \"application/pdf\", \"url\": \"http://ord.legistar.com/Chicago/attachments/d93b33e0-3b0b-4caf-8404-5f23eaef1f49.pdf\"}], \"date\": \"\", \"note\": \"O2018-6138.pdf\"}], \"subject\": [\"Improvement\"], \"abstracts\": [], \"id\": \"ocd-bill/fdff8130-549a-45ed-9517-01419fdbeb54\", \"extras\": {\"local_classification\": \"Ordinance\", \"rtf_text\": \"{\\\\rtf1\\\\ansi \\\\ansicpg1252\\\\stshfloch0{\\\\colortbl;\\\\red0\\\\green0\\\\blue0;\\\\red0\\\\green0\\\\blue255;\\\\red0\\\\green255\\\\blue255;\\\\red0\\\\green255\\\\blue0;\\\\red255\\\\green0\\\\blue255;\\\\red255\\\\green0\\\\blue0;\\\\red255\\\\green255\\\\blue0;\\\\red255\\\\green255\\\\blue255;}{\\\\fonttbl{\\\\f0\\\\froman\\\\fcharset0 Times New Roman;}{\\\\f1\\\\froman\\\\fcharset0 Times New Roman;}{\\\\f2\\\\fswiss\\\\fcharset0 Arial;}{\\\\f3\\\\fswiss\\\\fcharset0 Arial;}}{\[...]
    {
      "recorded_at": "2018-09-13T20:19:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://ocd.datamade.us/bills/?sponsorships__person_id=ocd-person%2Ff649753d-081d-4f22-8dcf-3af71de0e6ca&actions__date__lte=2018-08-15&actions__date__gte=2018-07-16&actions__description=Referred&page=1"
      },
      "response": {
        "body": {
          "encoding": "ut[...]
